absl-py==2.1.0
accelerate==1.0.1
aiohttp==3.9.1
aiosignal==1.3.1
alignment-handbook @ file:///gs/fs/tga-okazaki/ma/alignment-handbook
annotated-types==0.6.0
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
auto-gptq==0.6.0
bitsandbytes==0.44.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
datasets==3.0.2
deepspeed==0.15.2
dill==0.3.7
docker-pycreds==0.4.0
docstring-parser==0.15
einops==0.8.0
evaluate==0.4.0
filelock==3.13.1
fire==0.7.0
frozenlist==1.4.1
fsspec==2023.10.0
gekko==1.2.1
gitdb==4.0.11
GitPython==3.1.40
grpcio==1.67.0
hf_transfer==0.1.8
hjson==3.1.0
huggingface-hub==0.26.1
idna==3.6
Jinja2==3.1.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
mpi4py @ file:///croot/mpi4py_1671223370575/work
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.4
multiprocess==0.70.15
networkx==3.2.1
ninja==1.11.1.1
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
packaging==23.2
pandas==2.1.4
peft==0.13.2
protobuf==3.20.2
psutil==5.9.7
py-cpuinfo==9.0.0
pyarrow==18.0.0
pyarrow-hotfix==0.6
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.17.2
pynvml==11.5.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.10.3
requests==2.32.3
responses==0.18.0
rich==13.7.0
rouge==1.0.1
safetensors==0.4.5
scipy==1.11.4
sentencepiece==0.1.99
sentry-sdk==1.39.1
setproctitle==1.3.3
shtab==1.6.5
six==1.16.0
smmap==5.0.1
sympy==1.12
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
tokenizers==0.20.1
torch==2.1.2
tqdm==4.66.6
transformers==4.45.2
triton==2.1.0
trl==0.11.4
typing_extensions==4.9.0
tyro==0.6.0
tzdata==2023.3
urllib3==2.1.0
wandb==0.16.1
Werkzeug==3.0.6
xxhash==3.4.1
yarl==1.9.4
